* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  min-height: 100vh;
  background-color: var(--bg-color-main);
  color: var(--color-main);

  font-family: var(--font-main);
  font-weight: 500;
  font-size: 16px;

  overflow-x: hidden;
}

.main {
  width: 100%;
  padding: 2em;

  display: flex;
}

.section {
  width: 55%;
}

.section__title {
  font-size: 2em;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.form__subtitle {
  margin-bottom: 1.5em;
  font-weight: 700;
  font-size: 1.5em;
}

.personal-data {
  margin: 1em 0;
}

.data-list {
  margin: 1em 0;
  list-style: none;
}

.data-list--flex {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7.5em;
}

.data {
  width: 100%;
  margin-bottom: 3.125em;

  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.data__label {
  font-size: 1.25em;
  font-weight: 500;
}

.data__input {
  width: 100%;
  padding: 1em;
  border: 1px solid #d9d9d9;
  border-radius: 10px;
  outline: none;
}

.data__input--padding {
  padding: 1em 4em 1em 1em;
}

.data__input--height {
  resize: none;
}

.data__input:placeholder-shown {
  user-select: none;
  font-family: inherit;
  font-size: 1em;
  font-weight: 300;
}

/* ---------------------- */
.contact-data {
  margin: 1em 0;
}

.input-container {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
}

.data__icon {
  position: absolute;
  right: 0;
  width: 2.5em;
  margin: 1em;
  user-select: none;
}

.form__button {
  width: 100%;
  padding: 0.55em;
  border: none;
  border-radius: 10px;
  background-color: var(--bg-color-button);
  color: rgba(255, 255, 255, 1);

  text-align: center;
  font-family: inherit;
  font-weight: 800;
  font-size: 1.5em;

  user-select: none;
  cursor: pointer;
}

.form__button:active {
  opacity: 0.8;
}

.main__img {
  width: 45%;
  object-fit: contain;
  align-self: flex-end;
}
