.interest{
    width: 100%;
    height: 13em;
    border: 2px solid white;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: aliceblue;
    margin-bottom: 1.5em;
}

.interest__title{
    text-align: center;
    width: 100%;
    
}

.interest_foto{
    width: 6em;
    height: 6em;
    background-image: url(../img/niños__present.jpg);
    background-size: contain;
    border-radius: 50%;
}

