.present{
    height: calc(100vh - 11.5rem);
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.present__background{
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url(../img/background-One.png);
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    top: 7rem;
}

.present__div{
    width: 40%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.present__div_text{
    width: 100%;
    font-weight: var(--title-weight) ;
    font-size: var(--title-font);
}

.present__div_text_secundary{
    font-size: var(--subtitle-font);
    font-weight: var(--paragraph-weight);
}

.present__div_button{
    width: 10em;
    height: 2.2em;
    border-radius: 1em;
    border: 0px;
    font-size: var(--text-button);
    font-weight: var(--text-button-weight);
    color: white;
    background-color: var(--bgc-button);
}


.present__img{
    width: 24rem;
    height: 24rem;
    background-image:url(../img/present__img.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}