.present{
    background-image: url(../img/background-One.png);
    height: calc(100vh - 7em);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    margin-bottom: 5em;
}

.present_background{
    width: 100%;
}

.present__div{
    width: 40%;
    height: 95%;
    /* border: 1px solid white; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;


}

.present__div_text{
    width: 100%;
    font-size: 1em;
}

.present__div_text_secundary{
    font-size: 1em;
}

.present__div_button{
    width: 10em;
    height: 2.2em;
    border-radius: 1em;
    border: 0px;
}




.present__img{
    width: 40%;
    height: 95%;
    /* border: 1px solid white; */
    background-image:url(../img/sammy-children-play-with-cubes\ 1.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;


}