:root {
  --font-main: "Nunito", sans-serif;
  --color-main: rgba(0, 0, 0, 1);
  --bg-color-main: rgba(249, 235, 255, 1);
  --bg-color-button: rgb(246, 165, 12);
  --color-button: rgb(255, 255, 255);
}
