:root {
  --primary-font: "Nunito", sans-serif;
  --primary-color-white: rgb(255, 255, 255);
  --primary-color-black: rgba(0, 0, 0, 1);
  --primary-color-pink: rgba(249, 235, 255, 1);
  --secondary-color-grey: rgb(108, 114, 127);
  --secondary-color-orange: rgb(246, 165, 12);
  --secondary-color-light-grey: rgb(181, 184, 191);
}
